<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
<!-- main header -->
<div class="contsiner-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side header -->
                <div class="col-md-6 col-12 main_header_left">
                    <h2>Welcome to my <span class="txt-clr"> Weather </span> App</h2>
                    <h1>Get the latest updates of your location</h1>
                    <a href="/weather"><button>Updates</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
{{>footer}}


</body>
</html>